#Comments .Attachments {
	margin-top: 10px;
	padding: 8px;
	background-color: #f9f9f9;
	border: 1px solid #ededed;
	color: #062971;
	display: block;
	overflow: hidden;
	width: 600px;
	height: 1%;
	}
#Comments div.AttachmentTop {
	background: url('images/file_attach.gif') no-repeat;
	padding-bottom: 8px;
	padding-left: 22px;
	font-weight: bold;
	color:#757575;
	}

#Comments div.Attachment {
	padding-bottom: 8px;
	padding-left: 22px;
	}
#Comments .Attachments div a {
	text-decoration: none;
	}
#Comments .Attachments div a:hover {
	text-decoration: underline;
	}

/* Attachmentlist */
.AttachmentList {
	margin: 5px 0 15px 0 !important;
	padding: 0;
	}

.AttachmentList li {
	margin: 5px 0 5px 0 !important;
	padding: 0;
	font-weight: normal;
	list-style-type: disc;
	list-style:none;
	}

/* Filetypes */

#Comments .Attachments div.tif {
	background: url('images/file_image.gif') no-repeat;
	}
#Comments .Attachments div.doc,
#Comments .Attachments div.rtf {
	background: url('images/file_word.gif') no-repeat;
	}
#Comments .Attachments div.txt {
	background: url('images/file_text.gif') no-repeat;
	}
#Comments .Attachments div.pdf {
	background: url('images/file_acrobat.gif') no-repeat;
	}
#Comments .Attachments div.zip,
#Comments .Attachments div.rar,
#Comments .Attachments div.gz {
	background: url('images/file_compressed.gif') no-repeat;
	}
