@import url("../css/reset.css");

/* ---- GLOBALS ---- */
*
{
	margin: 0;
	padding: 0;
}

body
{
	font: 12px/1.4em Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
}


hr
{
	display: none;
}

strong, b
{
	font-weight: bold;
}

em, i
{
	font-style: italic;
}

a
{
	color: #083090;
	text-decoration: none;
}

	a:hover
	{
		color: #1C8850;
	}

li
{
	list-style: none;
}


.bigfont
{
	font-size: large;
}

.set1000
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

/* ---- WRAPPERS ---- */
#outer
{
	width: 100%;
}

body.inside #outer
{
}

#inner
{
	width: 100%;
}

#wrapper
{
}

#smallheader
{
	width: 100%;
	height: 20px;
	background-color: #1C8850;
	color: white;
}

	#smallheader a
	{
		color: white;
	}


	#smallheader .nav li
	{
		float: right;
	}

#header
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 130px;
}

	#header .rightside
	{
		width: 430px;
	}

#logo
{
	width: 570px;
	height: 120px;
	background: url(../logo/banner2.png) no-repeat 0 0;
	background-position: center;
}

#slogan
{
	width: 260px;
	height: 41px;
	background: url(../logo/slogan.png) no-repeat 0 0;
}


/*--MENU--*/
#menu
{
	width: 100%;
	height: 50px;
	background-color: #083090;
	color: white;
	position: absolute;
	top: 90px;
}

	#menu a
	{
		color: white;
		font-size: 20px;
		z-index: 1000;
	}

	#menu .menustart
	{
		background: url(../images/yuanjiao.png) no-repeat 0 0;
		width: 50px;
	}

	#menu li
	{
		float: left;
		width: 100px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		overflow: hidden;
	}

	#menu .selected
	{
		background: url(../images/menuselected.png) no-repeat 0 0;
		color: black;
	}

		#menu .selected a
		{
			color: black;
		}

	#menu li.selected .submenu
	{
		display: block;
		z-index: 1000;
	}

	#menu li .submenu
	{
		display: none;
		position: absolute;
	}

	#menu li .submenu
	{
		border-style: solid;
		border-width: 0px 1px 1px 1px;
		border-color: #ddd;
		padding: 0 5px 5px 5px;
		background: #fff;
		margin-left: 2px;
	}

	#menu li .submenu
	{
		-moz-border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;
		border-radius: 0 0 3px 3px;
		-moz-box-shadow: 0 5px 5px #D3D3D3;
		-webkit-box-shadow: 0 5px 5px #D3D3D3;
		box-shadow: 0 5px 5px #D3D3D3;
	}

		#menu li .submenu li
		{
			float: none;
			padding: 0;
			text-align: left;
			background: none;
			height: auto;
			border-bottom: dotted 1px #BEBEBE;
		}

			#menu li .submenu li.last
			{
				border: none;
			}

			#menu li .submenu li a
			{
				float: none;
				padding: 0;
				text-align: left;
				height: 28px;
				line-height: 28px;
				background: none;
			}






/*--FOOTER--*/
#footer
{
	width: 100%;
	height: 40px;
	background: #083090;
}

	#footer p
	{
		display: block;
		line-height: 40px;
		color: #999;
	}

	#footer a
	{
		color: #999;
		text-decoration: underline;
	}

		#footer a:hover
		{
			color: #ccc;
		}
/* ---- CONTAINER ---- */
#container
{
	height: 600px;
}

	#container .leftside
	{
		width: 600px;
	}

		#container .leftside #banner
		{
			height: 240px;
		}

		#container .leftside .title
		{
			height: 40px;
			font-size: 30px;
			margin-top: 15px;
		}

		#container .leftside .content p
		{
			font-size: 20px;
			margin-top: 15px;
			line-height: 25px;
		}


	#container .rightside
	{
		height: 600px;
		width: 390px;
		background-color: #2C5352;
		-webkit-border-radius: 23px;
		-moz-border-radius: 23px;
		border-radius: 23px;
	}

		#container .rightside .sidecontext
		{
			padding: 20px;
		}

			#container .rightside .sidecontext h2
			{
				font-size: 18px;
				color: #CECCBD;
				padding: 0 0 10px 0;
				margin: 0 0 10px;
				border-bottom: 1px solid #3F6968;
			}

			#container .rightside .sidecontext #newslist
			{
				overflow: hidden;
				height: 150px;
			}

				#container .rightside .sidecontext #newslist .title
				{
					margin-top: 10px;
					font-size: 16px;
				}

					#container .rightside .sidecontext #newslist .title a
					{
						text-decoration: underline;
						color: white;
					}

						#container .rightside .sidecontext #newslist .title a:hover
						{
							text-decoration: underline;
							color: #ccc;
						}

					#container .rightside .sidecontext #newslist .title .date
					{
						font-size: 10px;
						color: #E0BB52;
						text-align: right;
						line-height: 17px;
					}

/* -- SIGNUP BOX -- */
#signup h2
{
	margin: 0 0 15px 0;
}

#signup p
{
	font-size: 11px;
	color: #519A98;
	margin: 0 0 10px 0;
}

#signup input
{
	width: 158px;
	height: 25px;
	background: url(../gfx/signup_fieldbg.png) no-repeat 0 0;
	padding: 5px 10px 0 10px;
	font: 11px Verdana, Geneva, sans-serif;
	color: #000;
	border: none;
	margin: 0 0 10px 0;
}

#signup #btn_signup
{
	margin-top: 5px;
	margin-right: 100px;
	float: right;
	display: block;
	width: 60px;
	height: 23px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
}

	#signup #btn_signup:hover
	{
		background-position: 0 -23px;
	}

#gototopic
{
	width: 330px;
	height: 55px;
	background-color: #E9E9E9;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	font-size:25px;
	text-align:center;
	line-height:50px;
	margin-top:10px;
	cursor: pointer;
}
